<h1>Highest Rated Restaurants</h1>
<br><br>
<%@restaurants.each do |restaurant| %>
  <h3><%= link_to restaurant.name, restaurant_path(restaurant) %> </h3> <h4><%= restaurant.average_rating %>average rating</h4><br>
<% end %>

