/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  margin: 0;
  background-color: #ECECEB;
  font-family: 'Open Sans', sans-serif;
}

 /* ----- NAV BAR ----- */
 .topnav {
    background-color: #428FF4;
    overflow: hidden;
  }
 
  .topnav a {
    padding: 14px 16px;
    color: #F2F2F2;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
    font-size: .85em;
  }
 
  .topnav a.logo {
    font-size: 1.15em;
    color: #FFDEAD;
    vertical-align: middle;
    display: inline-block;
  }
 
  .topnav a:hover.logo {
    color: #FFDEAD;
  }
 
  .topnav a:hover {
    color: #3357B9;
  }
 
  .topnav a:active {
    color: #3357B9;
  }

  /*--home--*/

 /* ----- HOME PAGE ----- */
.home {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/background.jpg') no-repeat center center;
  background-size: cover;
  height: 800px;
}

.home h2 {
  padding-top: 25px;
  text-align: center;
  color: white;
}