<h1>Edit Your Review of <%= @review.restaurant.name %></h1>

<%= form_for :review, url: user_review_path, :method => 'patch' do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
    <br><br><br>
    <%= f.submit "Update Review", class: "btn btn-outline-warning"  %>
  <% end %>